nav {
    background-color: #4CAF50;
    overflow: hidden;
    
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-grow: 1;
    justify-content: right;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: #3E8E41;
  }
  
  nav form {
    display: flex;
    justify-content: center;
    margin-top: 8px;
  }
  
  nav input[type=text] {
    padding: 6px;
    border: none;
    border-radius: 4px;
  }


.site-description {
    color: hsla(0,0%,100%,.8);
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: 300;
    margin: -6.4px auto 32px;
    margin: -.4rem auto 2rem;
    text-align: center
}

.site-header {
    background: #0c85bd;
    padding: 16px 0;
    padding: 1rem 0;
    position: relative
}

.site-header .site-branding {
    margin: 0 auto;
    max-width: 960px;
    padding: 0 25px;
    padding: 0 1.5625rem
}

p{
    font-size: 50px;
    text-align: center;
}

.site-title a{
    font-weight: 300;
}

.rounded-circle {
    border-radius: 50%!important;
}

.circulo1, .circulo2, .circulo3 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: rgb(241, 238, 218) solid;
    display: inline-block;
    padding: 80px;
    margin-right: 10px;
  }

  .circulos-container {
    text-align: center;
  }
  .circulo1, .circulo2, .circulo3 {
    margin: 80px;
  }

  .circulo1{
    background-image: url(../img/contenido.jpg);
    background-size: 120%;
  }

  .circulo2{
    background-image: url(../img/ayuda.jpg);
    background-size: 100%;
  }

  .circulo3{
    background-image: url(../img/preguntas.jpg) ;
    background-size: 100%;
  }

